<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>257192534000-es9dh5t11brodemdl1j6fobp74d0on30.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.257192534000-es9dh5t11brodemdl1j6fobp74d0on30</string>
	<key>API_KEY</key>
	<string>AIzaSyDbybEZ60Eny_QQtgWgzoJ4QIAAyZDAcs4</string>
	<key>GCM_SENDER_ID</key>
	<string>257192534000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>spot.MessagingApp</string>
	<key>PROJECT_ID</key>
	<string>messagingapp-d9be3</string>
	<key>STORAGE_BUCKET</key>
	<string>messagingapp-d9be3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:257192534000:ios:585b948dbbe9b45333c735</string>
	<key>DATABASE_URL</key>
	<string>https://messagingapp-d9be3.firebaseio.com</string>
</dict>
</plist>